Codes/Exercise1/Exercise1
Codes/Exercise1/SimpleGenerator.root
Codes/Exercise1/SimpleGenerator1.root

Codes/Exercise2/Exercise2
Codes/Exercise2/Rutherford.root
Codes/Exercise2/Exercise2.1

Codes/Exercise3/Exercise3

Codes/Exercise4/Exercise4_1
Codes/Exercise4/Exercise4_2

Codes/Exercise5/Exercise5_1
